﻿<?php 
$this->headTitle($this->translator('service_add'));
$this->headLink()
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.core.css')
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.tabs.css')
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.theme.css');
$this->headScript()
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.ui/ui.core.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.ui/ui.tabs.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.validate/jquery.validate.min.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/tomato/util.js');
?>
<script type="text/javascript" src="<?php echo $this->APP_STATIC_SERVER; ?>/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<?php echo $this->APP_STATIC_SERVER; ?>/js/ckfinder/ckfinder.js"></script>
<div class="grid_12 t_a_ui_breadcrumb">
	<span><a href="/admin/"><?= $this->translator('menu_admin','core'); ?></a></span>
	<span><a href="/admin/service/service/list/">
	<?= $this->translator('service_list'); ?></a></span>
	<span><?= $this->translator('service_add'); ?></span>	
</div>

<div class="grid_12">
<?= $this->flashMessenger(); ?>
</div>

<form method="post" action="/admin/service/service/add" id="addServiceForm" class="t_a_form">
<div class="grid_12 t_a_bottom"><?= $this->translator('service_add_guide'); ?></div>
<div class="grid_12 t_a_bottom">
	<div class="grid_12 alpha" id="infoTabs">
		<ul class="tabNavigation">
			<li class="overview"><a href="#overview">Overview</a></li>
			<li class="images"><a href="#images">Image</a></li>
		</ul>
		<div id="overview">
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_name'); ?>:</label>
			<input type="text" name="name" id="name" style="width: 440px" />
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_slug'); ?>:</label>
			<input type="text" name="slug" id="slug" style="width: 440px" />
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('Meta title'); ?>:</label>
			<input type="text" name="meta_title" id="meta_title" style="width: 440px" />
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('Meta description'); ?>:</label>
			<textarea rows="6" cols="80" name="meta_description" id="meta_description" style="width: 440px"></textarea>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_description'); ?>:</label>
			<textarea rows="6" cols="80" name="description" id="description" style="width: 440px"></textarea>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_content'); ?>:</label>
		</div>
		<div class="clearfix t_a_bottom">
			<textarea rows="6" cols="80" name="content" id="content"></textarea>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_main'); ?>:</label>
			<input type="checkbox" name="main" id="main" value="1" />
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_status'); ?>:</label>
			<select name="status" id="status">
				<option value="active">Active</option>
				<option value="inactive">Inactive</option>
			</select>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_priority'); ?>:</label>
			<select name="priority" id="priority">
				<?for($i=1;$i<10;$i++): ?>
					<option value="<?= $i ?>"><?= $i ?></option>
				<?endfor; ?>				
			</select>
		</div>
		<hr />
		</div>
		<div id="images">
			<div class="t_a_bottom t_a_ui_tabs">
				<div class="t_a_ui_helper_line">
					<h3>
						<?php echo $this->translator('service_multimedia'); ?></h3>
				</div>
				<div class="t_a_bottom">
					<?php echo sprintf($this->translator('service_upload_guide'), ini_get('upload_max_filesize'));
					?></div>
				<?php echo $this->helperLoader('upload')->uploader('service', array('extension' =>
				'*.jpg;*.jpeg;*.png;*.gif', 'multi' => true, 'auto' => true, 'simUploadLimit' =>
				5, 'sizeLimit' => 1024 * 1024 * 5), array('onComplete' => 'onUploadComplete'));
				?>
				<div class="photos grid_6 alpha">
					<ul id="photos">
					</ul>
				</div>
				<div class="t_a_bottom grid_5 omega">
					<div>
						<?php echo $this->translator('service_select_image_guide'); ?>
						<input type="hidden" id="serviceImage" name="serviceImage" value='' />
						<input type="hidden" id="images_data" name="images_data" value='' />
						<div id="serviceImageContainer" class="ImageContainer">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_12 t_a_bottom">
		<label>&nbsp;</label>
		<input type="button" class="button" value="Save" id="addButton"/>
		</div>
	</div>
</div>
</form>
<div id="messageDialog"></div>
<script type="text/javascript">
var finderPath = '<?php echo $this->APP_STATIC_SERVER; ?>/js/ckfinder';
var overview = CKEDITOR.replace( 'content' );
overview.Height = '640px';
var imagesData = new Array();
function onUploadComplete(event, ID, fileObj, response, data) {
	var images = $.evalJSON(response);
	imagesData[imagesData.length] = images;
	var presentImage = $('<img/>');
	$(presentImage).attr('src', images.small.url)
		.attr('style', 'cursor: pointer')
		.click(function() {
			selectImage(images);
		});
	$('<li/>').append(presentImage).append().appendTo($('#photos'));
};
function selectImage(images) {
	var urls = {};
	for (var thumb in images) {
		urls[thumb] = images[thumb].url; 
	}
	$('#serviceImage').val($.toJSON(urls));
	$('#serviceImageContainer').html('<img src="' + images.small.url + '" />');	
};	
$(document).ready(function() {
	$('#infoTabs').tabs();
	$('#addServiceForm').validate({
		rules: {
			name: {
				required: true
			},
			slug: {
				required: true
			},
		},
		messages: {
			name: "Please enter service name",
			slug: "Please enter service slug",
		}
	});
	/**
	 * @since 2.0.4
	 */
	$('#addButton').bind('click', function() {
		if (imagesData.length > 0) {
			$('#images_data').attr('value', $.toJSON(imagesData));
		}
		$('#addServiceForm').submit();
	});
	$('#name').bind('change', function() {
		$('#slug').val(Tomato.Util.generateSlug($(this).val()));
	});
});
</script>
