﻿<?php 
$this->headTitle($this->translator('service_edit'));
$this->headLink()
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.core.css')
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.tabs.css')
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.theme.css');
$this->headScript()
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.ui/ui.core.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.ui/ui.tabs.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.validate/jquery.validate.min.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/tomato/util.js');
?>
<script type="text/javascript" src="<?php echo $this->APP_STATIC_SERVER; ?>/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<?php echo $this->APP_STATIC_SERVER; ?>/js/ckfinder/ckfinder.js"></script>
<div class="grid_12 t_a_ui_breadcrumb">
	<span><a href="/admin/"><?= $this->translator('menu_admin','core'); ?></a></span>
	<span><a href="/admin/service/service/list/">
	<?= $this->translator('service_list'); ?></a></span>
	<span><?= $this->translator('service_edit'); ?></span>	
</div>

<div class="grid_12">
<?= $this->flashMessenger(); ?>
</div>

<form method="post" action="/admin/service/service/edit/<?= $this->service->service_id ?>" id="editServiceForm" class="t_a_form">
<div class="grid_12 t_a_bottom"><?= $this->translator('service_edit_guide'); ?></div>
<div class="grid_12 t_a_bottom">
	<div class="grid_12 alpha" id="infoTabs">
		<ul class="tabNavigation">
			<li class="overview"><a href="#overview">Overview</a></li>
			<li class="images"><a href="#images">Image</a></li>
		</ul>
		<div id="overview">
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_name'); ?>:</label>
			<input type="text" name="name" id="name" style="width: 440px" value="<?= $this->service->name ?>"/>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_slug'); ?>:</label>
			<input type="text" name="slug" id="slug" style="width: 440px" value="<?= $this->service->slug ?>"/>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('Meta title'); ?>:</label>
			<input type="text" name="meta_title" id="meta_title" style="width: 440px" value="<?= $this->service->meta_title ?>" />
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('Meta description'); ?>:</label>
			<textarea rows="6" cols="80" name="meta_description" id="meta_description" style="width: 440px"><?= $this->service->meta_description ?></textarea>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_description'); ?>:</label>
			<textarea rows="6" cols="80" name="description" id="description" style="width: 440px"><?= $this->service->description ?></textarea>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_content'); ?>:</label>
		</div>
		<div class="clearfix t_a_bottom">
			<textarea rows="6" cols="80" name="content" id="content"><?= $this->service->content ?></textarea>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_main'); ?>:</label>
			<input type="checkbox" name="main" id="main" value="1" <?php if($this->service->main==1):?>checked<?php endif;?> />
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_status'); ?>:</label>
			<select name="status" id="status">
				<option value="active" <?php if($this->service->status=="active"):?>selected<?php endif;?>>Active</option>
				<option value="inactive" <?php if($this->service->status=="inactive"):?>selected<?php endif;?>>Inactive</option>
			</select>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('service_priority'); ?>:</label>
			<select name="priority" id="priority">
			<?for($i=1;$i<10;$i++): ?>
				<option value="<?= $i ?>" <?php if($this->service->priority == $i):?>selected<?php endif;?>><?= $i ?></option>
			<?endfor; ?>
			</select>	
		</div>
		<hr />
		</div>
		<div id="images">
			<div class="t_a_bottom t_a_ui_tabs">
				<div class="t_a_ui_helper_line">
					<h3>
						<?php echo $this->translator('service_multimedia'); ?></h3>
				</div>
				<div class="t_a_bottom">
					<?php echo sprintf($this->translator('service_upload_guide'), ini_get('upload_max_filesize'));
					?></div>
				<?php echo $this->helperLoader('upload')->uploader('service', array('extension' =>
				'*.jpg;*.jpeg;*.png;*.gif', 'multi' => true, 'auto' => true, 'simUploadLimit' =>
				5, 'sizeLimit' => 1024 * 1024 * 5), array('onComplete' => 'onUploadComplete'));
				?>
				<div class="photos grid_6 alpha">
					<ul id="photos">
					</ul>
				</div>
				<div class="t_a_bottom grid_5 omega">
					<div>
						<?php echo $this->translator('service_select_image_guide'); ?>
						<input type="hidden" id="serviceImage" name="serviceImage" value='<?php if ($this->service_image != null) : ?><?= $this->service_image; ?><?php endif; ?>' />
						<input type="hidden" id="images_data" name="images_data" value='' />
						<div id="serviceImageContainer" class="ImageContainer">
							<?php if (null != $this->service && null != $this->service->image_small) : ?><img src="<?php echo $this->service->image_small; ?>"/><?php  else: ?><?php echo $this->translator('service_no_image'); ?><?php endif; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_12 t_a_bottom">
		<label>&nbsp;</label>
		<input type="button" class="button" value="Save" id="updateButton"/>
		</div>
	</div>
</div>
</form>
<div id="messageDialog"></div>
<script type="text/javascript">
var finderPath = '<?php echo $this->APP_STATIC_SERVER; ?>/js/ckfinder';
var overview = CKEDITOR.replace( 'content' );
overview.Height = '640px';
var imagesData = new Array();
<?php if ($this->service->images_data  != null) : ?>
imagesData = <?php echo $this->service->images_data; ?>;
<?php endif; ?>
function onUploadComplete(event, ID, fileObj, response, data) {
	var images = $.evalJSON(response);
	imagesData[imagesData.length] = images;
	var presentImage = $('<img/>');
	$(presentImage).attr('src', images.small.url)
		.attr('style', 'cursor: pointer')
		.click(function() {
			selectImage(images);
		});
	$('<li/>').append(presentImage).append().appendTo($('#photos'));
};
function selectImage(images) {
	var urls = {};
	for (var thumb in images) {
		urls[thumb] = images[thumb].url; 
	}
	$('#serviceImage').val($.toJSON(urls));
	$('#serviceImageContainer').html('<img src="' + images.small.url + '" />');	
};	
$(document).ready(function() {
	$('#infoTabs').tabs();
	$('#editServiceForm').validate({
		rules: {
			name: {
				required: true
			},
			slug: {
				required: true
			},
		},
		messages: {
			name: "Please enter service name",
			slug: "Please enter service slug",
		}
	});
	$('#updateButton').bind('click', function() {
		var saveImages = new Array();
		if(getIds() != '') {
			var ids = getIds().split(";");
			if (imagesData.length > 0) {
				for(j=0;j<imagesData.length;j++){
					var del = 0;
					for(i=0;i<ids.length;i++){
						if(j == ids[i]){
							del = 1;
							break;
						}
					}
					if(del == 0){
						saveImages[saveImages.length] = imagesData[j];
					}
				}
				$('#images_data').attr('value', $.toJSON(saveImages));
			}
		}
		else{
			if (imagesData.length > 0) {
				$('#images_data').attr('value', $.toJSON(imagesData));
			}
		}
		$('#editServiceForm').submit();
	});
	
	function getIds(){
		var ids= '';
		var checkBoxName = 'cids';
		var checkBoxes = $("input[name=" + checkBoxName + "]");

	    $.each(checkBoxes, function() {
	        if ($(this).attr('checked')){
	        	ids = ids+";"+ $(this).val();
	        }
	    });
	    return ids.substring(1);
	}	
	
	for (var i=0; i < imagesData.length; i++) {
		var presentImage = $('<img/>');
		$(presentImage).attr('src',  imagesData[i].small.url)
			.attr('style', 'cursor: pointer')
			.attr('alt', imagesData[i])
			.attr('onClick', 'javascript:selectImage('+$.toJSON(imagesData[i])+')'
		);
		$('<li/>').append("<input type='checkbox' name='cids' value='"+i+"'/> Del").append(presentImage).append().appendTo($('#photos'));
	}
});
</script>
