<?php $this->headTitle($this->translator('Service')); ?>
<section id="services" class="services section page-main">
	<div class="container">
		<?php if(count($this->services)>0): ?>
		<?php $i = 1; ?>
			<?php foreach ($this->services as $service):?>
				<?php
					if ($i == 1) {
						$anchor = 'aboutUs';
					} elseif ($i == 2) {
						$anchor = 'whatWeDo';
					}
					if ($service->status == 'active'):
				?>
				<div class="ser-item" id="<?php echo $anchor; ?>">
					<div class="ser-header">
						<h2 class="page-title text-orange"><?php echo $service->name;?></h2>
					</div>
					<div class="ser-body">
					<?php if($service->image_medium != ''):?>
						<p>
							<img src="<?php echo $service->image_medium;?>" alt="<?php echo $service->name;?>"/>
						</p>
					<?php endif;?>
						<div class="inline-content"><em><?php echo $service->description;?></em></div>
						<div class="row">
							<div class="col-md-12">
								<?php echo $service->content;?>
							</div>
						</div>
					</div>
				</div>
			<?php
				endif;
				$i++; ?>
			<?php endforeach ?>
		<?php endif;?>
	</div>
</section>