/*
 * jQuery UI Date Picker v3.0 - previously jQuery Calendar
 *    Written by Marc Grabanski (m@marcgrabanski.com) 
 *    and Keith Wood (kbwood@iprimus.com.au).
 *
 *    Copyright (c) 2007 Marc Grabanski 
 *      (http://marcgrabanski.com/code/ui-datepicker)
 *    	Dual licensed under the MIT (MIT-LICENSE.txt)
 *      and GPL (GPL-LICENSE.txt) licenses.
 *      Date: 09-03-2007  
 */

/* Main Style Sheet for jQuery UI date picker */
#datepicker_div {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #ddd; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 185px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif;display: none;
}
.datepicker_inline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #ddd; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 185px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif;	display: block;
}
.datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
button.datepicker_trigger {
	width: 25px;
}
img.datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.datepicker_prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}
* html .datepicker_prompt {
	width: 185px;
	
}
.datepicker_control, .datepicker_links, .datepicker_header, .datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #FFF;
}
.datepicker_control {
	background: #638bca;
	padding: 2px 0px;
}
.datepicker_links {
	background: #638bca;
	padding: 2px 0px;
}
.datepicker_control, .datepicker_links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
}
.datepicker_links label { /* disabled links */
	padding: 2px 5px;
	color: #e5ecf9;
}
.datepicker_clear, .datepicker_prev {
	float: left;
	width: 34%;
}

.datepicker_current {
	float: left;
	width: 30%;
	text-align: center;
}
.datepicker_close, .datepicker_next {
	float: right;
	width: 34%;
	text-align: right;
}
.datepicker_header {
	padding: 1px 0 3px;
	background: #638bca;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}
.datepicker_header select {
	background: #fff;
	color: #000;
	border: 0px;
	font-weight: bold;
}
.datepicker {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}
.datepicker a {
	display: block;
	width: 100%;
}
.datepicker_titleRow {
	background: #e5ecf9;
}
.datepicker_daysRow {
	background: #eee;
	color: #666;
}
.datepicker_weekCol {
	background: #e5ecf9;
	color: #fff;
}
.datepicker_daysCell {
	color: #000;
	border: 1px solid #ddd;
}
.datepicker_daysCell a{
	display: block;
}
.datepicker_weekEndCell {
	background: #ddd;
}
.datepicker_daysCellOver {
	background: #fff;
	border: 1px solid #9ebfe8;
}
.datepicker_unselectable {
	color: #e5ecf9;
}
.datepicker_today {
	background: #fcc !important;
}
.datepicker_currentDay {
	background: #999 !important;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#datepicker_div a, .datepicker_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.datepicker_inline .datepicker_links a {
	padding: 0 5px !important;
}
.datepicker_control a, .datepicker_links a {
	padding: 2px 5px !important;
	color: #000 !important;
}
.datepicker_titleRow a {
	color: #000 !important;
}
.datepicker_control a:hover {
	background: #000 !important;
	color: #e5ecf9 !important;
}
.datepicker_links a:hover, .datepicker_titleRow a:hover {
	background: #000 !important;
	color: #e5ecf9 !important;
}

/* ___________ MULTIPLE MONTHS _________*/

.datepicker_multi .datepicker {
 border-bottom:1px solid #638bca;
 border-top:1px solid #638bca;
 border-right:1px solid #638bca;
 border-left:1px solid #638bca;
}
.datepicker_oneMonth {
	float: left;
	width: 185px;
}
.datepicker_newRow {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */

.datepicker_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}