<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-xs-6">
				<span class="text-orange">Vale Studio</span>
				<span>9th Floor,</span>
				<span>64 Vinh Ho Street,</span>
				<span>Dong Da district</span>
				<span>Ha Noi 10000</span>
				<span>Vietnam</span>
			</div>
			<div class="col-sm-3 col-xs-6">
				<span>Email: vale@vale-studio.org</span>
				<span>Phone: (84)123 812 3389</span>
				<span>Or contact us filling the</span>
				<span>contact form</span>
				<span>Monday - Friday</span>
				<span>9:00 a.m - 6:00 p.m</span>
			</div>
			<div class="col-sm-2 col-xs-6">
				<span><a class="text-orange underline" href="/work.html">Work</a></span>
				<span><a class="text-orange underline" href="/services.html">Services:</a></span>
				<span><a href="/services.html#aboutUs">About Us</a></span>
				<span><a href="/services.html#whatWeDo">What We Do</a></span>
				<span><a class="text-orange underline" href="/info.html">Info</a></span>
				<span><a href="/contact.html">Contact</a></span>
				<span><a href="/meet-our-team.html">Meet Our Team</a></span>
				<span><a href="/join-our-family.html">Join Our Family</a></span>
			</div>
			<div class="col-sm-4 col-xs-6">
				<span class="text-orange">"We especially focus on architectural visuallisation</span>
				<span class="text-orange">which is one of important factor an advertising</span>
				<span class="text-orange">and construction industy"</span>
				<span>Copyright &copy; 2016 Vale Studio</span>
				<span>VAT CODE 3456789</span>
			</div>
		</div>
		<div class="copyright">Copyright &copy; 2016 Vale Studio.</div>
	</div>
</footer>