<?php
$module=Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
$controller=Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$action=Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>          
<header id="masthead" class="row clearfix">
    <div id="identity" class="col-md-2 col-lg-2">
        <a href="/" title="Vale Studio" rel="home"><span  class="assistive-text">Vale Studio</span></a> 
    </div>
    <div id="masthead-nav" class="col-sm-12 col-md-10  col-lg-10 clearfix">
        <div class="inner">
            <nav class="primary-nav clearfix">
                <h3 class="assistive-text">Main Navigation</h3>
                <div class="skip-link"><a class="assistive-text" href="#main-content" title="Skip to primary content">Skip to primary content</a></div>
                <div class="menu-primary-container">
                    <ul id="menu-primary" class="menu">
                        <li class="<?php if($module=='work' && $controller=='Work') echo 'current-menu-item'; ?>"><a href="/work.html"><span>Work</span></a></li>
                        <li class="<?php if($module=='service' && $controller=='Service') echo 'current-menu-item'; ?>"><a href="/services.html"><span>Services</span></a></li>
                        <li class="<?php if($module=='info' && $controller=='Info') echo 'current-menu-item'; ?>"><a href="/info.html"><span>Info</span></a></li>
                    </ul>
                </div>
            </nav>
            <nav class="secondary-nav work-filters clearfix">
                <div class='filter-nav clearfix'>
                    <?php if($module=='work' && $controller=='Work') : ?>
					<div class="filter-container isotopeFilters">
						<ul class="list-inline filter">
							<li><a class="active" data-filter="*">All</a></li>
							<li><a data-filter=".exterior">Exterior</a></li>
							<li><a data-filter=".interior">Interior</a></li>
                            <li><a data-filter=".modelling">Modelling</a></li>
							<li><a data-filter=".animation">Animation</a></li>
						</ul>
					</div>
                    <?php endif ?>

                    <?php if($module=='info' && $controller=='Info') : ?>
                        <div class="menu-work-filters-container">
                            <ul id="menu-work-filters" class="menu">
                                <li><a href="/contact.html" <?php if($module=='info' && $controller=='Info' && $action=='contact') echo 'class="active"'; ?>>Contact</a></li>
                                <li><a href="/meet-our-team.html" <?php if($module=='info' && $controller=='Info' && $action=='meetourteam') echo 'class="active"'; ?>>Meet Our Team</a></li>
                                <li><a href="/join-our-family.html" <?php if($module=='info' && $controller=='Info' && $action=='joinwithus') echo 'class="active"'; ?>>Join Our Family</a></li>
                            </ul>
                        </div>
                    <?php endif ?>

                    <?php if(($module=='service' && $controller=='Service')) : ?>
                        <div class="menu-work-filters-container">
                            <ul class="menu">
                                <li><a id="aboutUs-link" class="moveToAboutUs" href="javaScript:void(0);">About us</a></li>
                                <li><a id="whatWeDo-link" class="moveToWhatWeDo" href="javaScript:void(0);">What We Do</a></li>
                            </ul>
                        </div>
                    <?php endif ?>
                </div>
            </nav>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <nav class="utility-nav hidden-xs hidden-sm">
        <ul>
            <li><a href="https://www.facebook.com/Valestudio/" class="genericon genericon-facebook-alt" target="_blank"><span class="assistive-text">Facebook</span></a></li>
            <li><a href="https://www.flickr.com/photos/valestudio/" class="genericon genericon-flickr" target="_blank" ><span class="assistive-text">Flickr</span></a></li>
        </ul>
    </nav>
    <button type="button" class="menu-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="assistive-text sr-only">Toggle navigation</span>
    </button>
</header>