<div class="bannerHome line">
        <img src="/images/bannerHome.jpg" alt="" class="Fl">
        <div class="navHead line png">
            <ul class="list fontMyri png">
                <li><a href="/">Home</a></li>
                <li><a href="/page/about-us.html">about us</a></li>
                <li><a href="/tours/vietnam-tours.html">vietnam tours</a></li>
                <li><a href="/tours/laos-tours.html">laos tours</a></li>
                <li><a href="/tours/cambodia-tours.html">cambodia tours</a></li>
                <li><a href="/customize/tour.html">customize tours</a></li>
                <li><a href="/contact-us.html">contact us</a></li>
            </ul>
            <p>
                <a href="/tours/vietnam-tours.html" class="vietnam png" title="Vietnam tours">Vietnam tours</a>
                <a href="/tours/laos-tours.html" class="laos png" title="Laos tours">Laos tours</a>
                <a href="/tours/cambodia-tours.html" class="cambodia png" title="Cambodia tours">Cambodia tours</a>                
            </p>
        </div>
        <p class="girl"><img src="/images/girl.png" class="png"></p>
    </div>