<div id="header">
        <a href="/"><img src="/images/logoHead.jpg" alt="" class="logoHead"></a>
        <div class="rightHead">
            <p><a href="mailto:info@bluedragontours.com" >Email us</a> or call  &nbsp;&nbsp; <label>+84-(969)-606-606</label></p>
            <form class="line" method="post" action="/search/tours.html">
                <input type="text" name="keyword" class="textSearch">
                <input type="submit" class="button Search" value="">
            </form>
        </div>
    </div>
<?php echo $this->render('_indexmenu.phtml'); ?>