<?php
$module=Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
$controller=Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$action=Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>
<?php //echo $module.' '.$controller.' '.$action;?>
<section class="menu">
    <div class="container">
        <ul class="nav-menu">
            <li>MENU <i class="fa fa-times-circle close-bars"></i></li>
            <li  class="<?php if($module=='destination' AND $controller=='index') echo 'active';?>"><a href="/destination.html">Destinations</a></li>
            <li class="<?php if($module=='tour' AND $controller=='tour') echo 'active';?>"><a href="/cambodia-tours.html">Cambodia tours</a></li>
            <li class="<?php if($module=='tour' AND $controller=='Booking' AND $action=='buildtrip') echo 'active';?>"><a href="/build-trip.html">Build your trip</a></li>
            <li class="<?php if($module=='tour' AND $controller=='booktrip' AND $action=='booktrip') echo 'active';?>"><a href="/book-trip.html">Book your trip</a></li>
            <li><a href="#">Insiders’ Tips</a></li>
            <li class="<?php if($module=='page' AND $controller=='Page' AND $action=='detail') echo 'active';?>"><a href="/page/about-us.html">About us</a></li>
            <li class="<?php if($module=='utility' AND $controller=='Newsletter' AND $action=='contact') echo 'active';?>"><a href="/contact-us.html">Contact us</a></li>
            <li><a href="#"><span class="fa fa-search"></span></a></li>
        </ul>
    </div>
</section>