<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
    <meta http-equiv="Content-Type" content="text/html; charset=<?php echo $this->CHARSET; ?>" />
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <link rel="shortcut icon" type="image/x-icon" href="/skins/default/images/favicon.ico" />
    <?php 
    $this->headLink()
    	->prependStylesheet($this->APP_STATIC_SERVER . '/skins/' . $this->APP_TEMPLATE . '/' . $this->APP_SKIN . '/' . 'default.css');    	
	$this->headScript()
    	->prependFile($this->APP_STATIC_SERVER . '/js/tomato/namespace.js')
    	->prependFile($this->APP_STATIC_SERVER . '/js/jquery/jquery.min.js')
    	->appendFile($this->APP_STATIC_SERVER . '/js/tomato/core/widget.loader.js');
    ?>
    
    <?php
    /**
     * Compress CSS and JS if it is enabled
     * @since 2.0.6
     */ 
    echo $this->compressor('css');
    echo $this->compressor('js');
    ?>
	<script type="text/javascript">
	//<![CDATA[
	Tomato.Core.Widget.Loader.baseUrl = '<?php echo $this->baseUrl(); ?>';    
	//]]>
	</script>
</head>
<body>
<div id="Wrapper">
<div class="bgBook">
	<?php echo $this->render('_header.phtml'); ?>
</div>	
	<div id="main" class="line" style="padding: 0;">
        <div class="bgMain">
        <div class="box898">
		<?php echo $this->layoutLoader(); ?>
		</div>
		</div>	
	</div>
	<?php echo $this->render('_footer.phtml'); ?>
</div>
<?php
/**
 * Put all widget's javascript to the bottom of page 
 * @since 2.0.6
 */
echo $this->compressor('js', 'bottomBody'); 
?>
</body>
</html>