<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<?php echo $this->CHARSET; ?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <link rel="shortcut icon" type="image/x-icon" href="/skins/default/images/favicon.ico" />
    <?php 
    $this->headLink()
        ->prependStylesheet('/skins/' . $this->APP_SKIN . '/css/style.css')
        ->prependStylesheet('/skins/' . $this->APP_SKIN . '/css/library/font-awesome.min.css')
    	->prependStylesheet('/skins/' . $this->APP_SKIN . '/css/library/bootstrap.min.css')
    	->prependStylesheet('/skins/' . $this->APP_SKIN . '/css/library/owl.carousel.css')
        ->prependStylesheet('/skins/' . $this->APP_SKIN . '/css/genericons.css')
    ;    	
	$this->headScript()
    	->prependFile('/js/tomato/namespace.js')
    	->prependFile('/skins/' . $this->APP_SKIN . '/js/scripts.js')
    	->prependFile('/skins/' . $this->APP_SKIN . '/js/library/jquery.sticky.js')
    	->prependFile('/skins/' . $this->APP_SKIN . '/js/library/jquery.flexslider.min.js')
    	->prependFile('/skins/' . $this->APP_SKIN . '/js/library/owl.carousel.min.js')
    	->prependFile('/skins/' . $this->APP_SKIN . '/js/library/bootstrap.min.js')
    	->prependFile('/skins/' . $this->APP_SKIN . '/js/library/jquery.fancybox.pack.js')
    	->prependFile('/skins/' . $this->APP_SKIN . '/js/library/jquery.min.js')
    	->appendFile('/js/tomato/core/widget.loader.js');
    ?>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <?php
    echo $this->compressor('css');
    echo $this->compressor('js');
    ?>
	<script type="text/javascript">
	//<![CDATA[
	Tomato.Core.Widget.Loader.baseUrl = '<?php echo $this->baseUrl(); ?>';    
	//]]>
	</script>
</head>
<body>
<div id="page-wrap">
	<div id="preloader">
        <img src="<?php echo $this->APP_STATIC_SERVER; ?>/skins/<?php echo $this->APP_SKIN; ?>/images/loading.gif" style="width:40px; height:40px;"/>
    </div>
    <?php echo $this->render('_header.phtml'); ?>
    <?php echo $this->layoutLoader();?>
</div>
<?php
echo $this->compressor('js', 'bottomBody'); 
?>
</body>
</html>