<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<?php echo $this->CHARSET; ?>" />
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <link rel="shortcut icon" type="image/x-icon" href="/skins/default/images/favicon.ico" />
    <?php 
    $this->headLink()->prependStylesheet('/skins/' . $this->APP_TEMPLATE . '/' . $this->APP_SKIN . '/' . 'default.css');    	
	$this->headScript()->prependFile('/js/tomato/namespace.js')
    	->prependFile('/js/jquery/jquery.min.js')
    	->appendFile('/js/tomato/core/widget.loader.js');
    ?>
    
    <?php
    echo $this->compressor('css');
    echo $this->compressor('js');
    ?>
	<script type="text/javascript">
	//<![CDATA[
	Tomato.Core.Widget.Loader.baseUrl = '<?php echo $this->baseUrl(); ?>';    
	//]]>
	</script>
</head>
<body>
	<?php echo $this->render('_header.phtml'); ?>
	<div id="wrapper">
		<div class="box_main" class="container_12">
			<?php echo $this->layoutLoader(); ?>
		</div>
	</div>
	<div class="clear"></div>
	<?php echo $this->render('_footer.phtml'); ?>

<?php
echo $this->compressor('js', 'bottomBody'); 
?>
</body>
</html>
