<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
    <meta http-equiv="Content-Type" content="text/html; charset=<?php echo $this->CHARSET; ?>" />
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <link rel="shortcut icon" type="image/x-icon" href="/skins/default/images/favicon.ico" />
    <?php 
    $this->headLink()
    	->prependStylesheet('/skins/' . $this->APP_TEMPLATE . '/' . $this->APP_SKIN . '/' . 'default.css');    	
	$this->headScript()
    	->prependFile('/js/tomato/namespace.js')
    	->prependFile('/js/jquery/jquery.min.js')
    	->appendFile('/js/tomato/core/widget.loader.js');
    ?>
    
    <?php
    echo $this->compressor('css');
    echo $this->compressor('js');
    ?>
	<script type="text/javascript">
	//<![CDATA[
	Tomato.Core.Widget.Loader.baseUrl = '<?php echo $this->baseUrl(); ?>';    
	//]]>
	</script>
</head>
<body style="background: #fff url(/images/bgHome.jpg) no-repeat center top;">
<div id="Wrapper">
	<?php echo $this->render('_header.phtml'); ?>
	<div id="main" class="line" style="padding: 300px 0 0 0;">
        <div class="LTMain"><div class="RTMain"><p class="TMain">&nbsp;<!-- fix ie6 --></p></div></div>  
        <div class="bgMain">
		<?php echo $this->layoutLoader(); ?>
		</div>
	</div>	
	<?php echo $this->render('_footer.phtml'); ?>
</div>
<?php
echo $this->compressor('js', 'bottomBody'); 
?>
</body>
</html>