<!DOCTYPE html>
<html lang="en">
<head>
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/skins/default/images/favicon.ico" />
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"> 
	<?php echo $this->headTitle();?>
	<?php echo $this->headMeta();?>
    <?php 
    $this->headLink()
		->prependStylesheet($this->APP_STATIC_SERVER . '/skins/manager/css/admin.css')
		->prependStylesheet($this->APP_STATIC_SERVER . '/skins/manager/css/bootstrap.min.css')
		->prependStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/jquery-ui-1.11.2/jquery-ui.min.css')
    ;	
	$this->headScript()
    	->prependFile($this->APP_STATIC_SERVER .'/skins/manager/js/script.js')
    	->prependFile($this->APP_STATIC_SERVER .'/skins/manager/js/bootstrap.min.js')
    	->prependFile('/js/jquery.ajaxq/jquery.ajaxq.min.js')
    	->prependFile($this->APP_STATIC_SERVER .'/js/jquery.validate/1.11.1/jquery.validate.min.js')
    	->prependFile($this->APP_STATIC_SERVER .'/js/jquery.ui/jquery-ui-1.11.2/jquery-ui.min.js')
    	->prependFile($this->APP_STATIC_SERVER .'/js/flight/jquery.maskedinput.min.js')
    	->prependFile($this->APP_STATIC_SERVER .'/skins/manager/js/jquery.js')
    ;
    ?>
    <?php
    echo $this->compressor('css');
    echo $this->compressor('js');
    ?>
</head>
<body>
	<div id="page-wrap" class="page-wrap">
	<!-- PRELOADER -->
	<div id="preloader">
        <img src="<?php echo $this->APP_STATIC_SERVER; ?>/skins/<?php echo $this->APP_SKIN; ?>/images/loading.gif" style="width:40px; height:40px;"/>
	</div>
	<!-- END / PRELOADER -->

	<!-- NAVIGATION -->
	<?php echo $this->widget('admin','menu'); ?>
	<!-- END / NAVIGATION -->
	<?php echo $this->layoutLoader(); ?>	
	</div>
	
	
	<?php
	echo $this->compressor('js', 'bottomBody');
	Tomato_Hook_Registry::getInstance()->executeAction('Core_PageLoaded'); 
	?>
	<img id="icon-loading" alt="loading" src="/skins/vno/images/loading.gif" style="position: fixed;left: 50%;top: 50%;z-index:9999999;display: none;"/>
</body>
</html>
