<?php
$this->headTitle($this->translator('Contact Us'));
$this->headMeta('Contact' ,'description');
$this->headScript()->appendFile($this->APP_STATIC_SERVER . '/js/jquery.validate/1.11.1/jquery.validate.min.js');
?>
<section id="contact" class="contact section page-main">
	<div id="map" class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="map-frame">
					<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6453226141925!2d105.81835721528076!3d21.00684989390107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac83a8d77eab%3A0x6096fcf77811fdaa!2zNjQgVsSpbmggSOG7kywgTmfDoyBUxrAgU-G7nywgxJDhu5FuZyDEkGEsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1475152857573" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			    </div>
			</div> 
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="write-comment col-sm-8">
				<form method="post" role="form" class="mrg-t-20" id="frmContact">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<input type="text" name="name" class="form-control" id="name" placeholder="First and Last Name (required)" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<input type="text" name="company_name" class="form-control" id="company_name" placeholder="Company name (required)" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number (required)" />
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<input type="email" name="email" class="form-control" id="email" placeholder="Email Address (required)" />
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<textarea name="message" rows="10" id="message" placeholder="Your Message"></textarea>
							</div>
						</div>
						<div class="col-xs-12">
							<input type="button" value="send" class="btn btn-default" id="btn-submit"/>
						</div>
					</div>
				</form>
				
			</div>

			<div class="company-info col-sm-4">
				<h4><strong>Vale Studio Corporate Headquarters:</strong></h4>

				<address class="mrg-t-20">
					<ul>
						<li><i class="fa fa-map-marker"></i> 123 ABC, VietNam</li>
						<li><i class="fa fa-phone"></i> <a href="#">+84123 812 3389</a></li>
						<li><i class="fa fa-envelope-o"></i> <a href="mailto:vale@vale-studio.org" target="_top">vale@vale-studio.org</a></li>
						<li><i class="fa fa-envelope-o"></i> <a href="mailto:haingoc@vale-studio.org" target="_top">haingoc@vale-studio.org</a></li>
					</ul>
				</address>
				<p class="intro_text">Let us bring your vision to life!</p>
			</div>
		</div>
		<img id="loading-image" src="/skins/default/images/loading.gif" />
		<p class="message"></p>
	</div>
</section>