<?php
	$this->headTitle($this->info->name);
?>
<section id="tour" class="tour section page-main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="item item-banner">
					<figure>
						<?php if($this->info->image_banner !=""):?>
							<img src="<?php echo $this->info->image_banner;?>" alt="" />
						<?php else:?>
							<img src="/skins/default/images/tour/tour-banner.jpg" alt="" />
						<?php endif;?>
						<figcaption>
							<span><?php echo $this->info->name;?></span> <br /> <?php echo $this->info->description;?>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="row">
			<?php if($this->info->images_data !=""):?>
			<?php $images = json_decode($this->info->images_data);?>
			<?php for ($i=0;$i<count($images);$i++):?>
				<?php if($i==0):?>
					<div class="col-sm-6">
				<?php elseif($i == 3):?>
					</div>
					<div class="col-sm-6">
				<?php endif;?>
					<div class="item">
						<figure>
							<img src="<?php echo $images[$i]->original->url?>" alt="" />
						</figure>
					</div>
			<?php endfor;?>
				</div>
			<?php endif;?>
		</div>
	</div>
</section>