﻿<?php 
$this->headTitle($this->translator('info_edit'));
$this->headLink()
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.core.css')
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.tabs.css')
	->appendStylesheet($this->APP_STATIC_SERVER . '/js/jquery.ui/themes/base/ui.theme.css');
$this->headScript()
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.ui/ui.core.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.ui/ui.tabs.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/jquery.validate/jquery.validate.min.js')
	->appendFile($this->APP_STATIC_SERVER . '/js/tomato/util.js');
?>
<script type="text/javascript" src="<?php echo $this->APP_STATIC_SERVER; ?>/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<?php echo $this->APP_STATIC_SERVER; ?>/js/ckfinder/ckfinder.js"></script>
<div class="grid_12 t_a_ui_breadcrumb">
	<span><a href="/admin/"><?= $this->translator('menu_admin','core'); ?></a></span>
	<span><a href="/admin/info/info/list/">
	<?= $this->translator('info_list'); ?></a></span>
	<span><?= $this->translator('info_edit'); ?></span>	
</div>

<div class="grid_12">
<?= $this->flashMessenger(); ?>
</div>

<form method="post" action="/admin/info/info/edit/<?= $this->info->info_id ?>" id="editInfoForm" class="t_a_form">
<div class="grid_12 t_a_bottom"><?= $this->translator('info_edit_guide'); ?></div>
<div class="grid_12 t_a_bottom">
	<div class="grid_12 alpha" id="infoTabs">
		<ul class="tabNavigation">
			<li class="overview"><a href="#overview">Overview</a></li>
			<li class="banner"><a href="#banner">Upload Banner</a></li>
			<li class="images"><a href="#images">Images</a></li>
		</ul>
		<div id="overview">
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('info_name'); ?>:</label>
			<input type="text" name="name" id="name" style="width: 440px" value="<?= $this->info->name ?>"/>
		</div>
		<hr />
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('info_slug'); ?>:</label>
			<input type="text" name="slug" id="slug" style="width: 440px" value="<?= $this->info->slug ?>"/>
		</div>
		<hr />
		<?php if($this->info->slug != 'join-our-family') :?>
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('info_description'); ?>:</label>
			<textarea rows="6" cols="80" name="description" id="description" style="width: 440px"><?= $this->info->description ?></textarea>
		</div>
		<hr />
		<?php endif ?>
	<div id="content_parent">
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('info_content'); ?>:</label>
		</div>
		<div class="clearfix t_a_bottom">
			<textarea rows="6" cols="80" name="content" id="content"><?= $this->info->content ?></textarea>
		</div>
		<hr />
	</div>
		<div class="clearfix t_a_bottom">
			<label><?php echo $this->translator('info_status'); ?>:</label>
			<select name="status" id="status">
				<option value="active" <?php if($this->info->status=="active"):?>selected<?php endif;?>>Active</option>
				<option value="inactive" <?php if($this->info->status=="inactive"):?>selected<?php endif;?>>Inactive</option>
			</select>
		</div>
		<hr />
		</div>
		<div id="banner">
			<div class="t_a_bottom t_a_ui_tabs">
				<div class="t_a_ui_helper_line">
					<h3>
						<?php echo $this->translator('Upload banner'); ?></h3>
				</div>
				<div class="t_a_bottom">
					<?php echo sprintf($this->translator('info_upload_guide'), ini_get('upload_max_filesize'));
					?></div>
				<?php echo $this->helperLoader('upload')->uploader('info', array('extension' =>
				'*.jpg;*.jpeg;*.png;*.gif', 'multi' => true, 'auto' => true, 'simUploadLimit' =>
				5, 'sizeLimit' => 1024 * 1024 * 5), array('onComplete' => 'onBannerUploadComplete'));
				?>
				<div class="t_a_bottom">
					<div>
						<input type="hidden" id="image_banner" name="image_banner" value='<?php echo  $this->info->image_banner;?>' />
						<div id="infoBannerContainer" style="width: 440px; height: 220px; line-height: 223px;
							border: 1px solid #444; text-align: center">
							<?php if (null != $this->info && null != $this->info->image_banner) : ?><img src="<?php echo $this->info->image_banner; ?>" style="width: 440px; height: 220px;"/><?php  else: ?><?php echo $this->translator('No image'); ?><?php endif; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="images">
			<div class="t_a_bottom t_a_ui_tabs">
				<div class="t_a_ui_helper_line">
					<h3>
						<?php echo $this->translator('info_multimedia'); ?></h3>
				</div>
				<div class="t_a_bottom">
					<?php echo sprintf($this->translator('info_upload_guide'), ini_get('upload_max_filesize'));
					?></div>
				<?php echo $this->helperLoader('upload')->uploader('info', array('extension' =>
				'*.jpg;*.jpeg;*.png;*.gif', 'multi' => true, 'auto' => true, 'simUploadLimit' =>
				5, 'sizeLimit' => 1024 * 1024 * 5), array('onComplete' => 'onUploadComplete'));
				?>
				<div class="photos grid_6 alpha">
					<ul id="photos">
					</ul>
				</div>
				<div class="t_a_bottom grid_5 omega">
					<div>
						<?php echo $this->translator('info_select_image_guide'); ?>
						<input type="hidden" id="infoImage" name="infoImage" value='<?php if ($this->info_image != null) : ?><?= $this->info_image; ?><?php endif; ?>' />
						<input type="hidden" id="images_data" name="images_data" value='' />
						<div id="infoImageContainer" class="ImageContainer">
							<?php if (null != $this->info && null != $this->info->image_small) : ?><img src="<?php echo $this->info->image_small; ?>"/><?php  else: ?><?php echo $this->translator('info_no_image'); ?><?php endif; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_12 t_a_bottom">
		<label>&nbsp;</label>
		<input type="button" class="button" value="Save" id="updateButton"/>
		</div>
	</div>
</div>
</form>
<div id="messageDialog"></div>
<script type="text/javascript">
var finderPath = '<?php echo $this->APP_STATIC_SERVER; ?>/js/ckfinder';

<?php if($this->info->slug != 'meet-our-team') :?>
	var overview = CKEDITOR.replace( 'content' );
<?php endif ?>
overview.Height = '640px';

function onBannerUploadComplete(event, ID, fileObj, response, data) {
	var images = $.evalJSON(response);
	$('#image_banner').val(images.original.url);
	$('#infoBannerContainer').html('<img style="width: 440px; height: 220px;" src="' + images.original.url + '" />');
};
var imagesData = new Array();
<?php if ($this->info->images_data  != null) : ?>
imagesData = <?= $this->info->images_data ; ?>;
<?php endif; ?>
function onUploadComplete(event, ID, fileObj, response, data) {
	var images = $.evalJSON(response);
	imagesData[imagesData.length] = images;
	var presentImage = $('<img/>');
	$(presentImage).attr('src', images.small.url)
		.attr('style', 'cursor: pointer')
		.click(function() {
			selectImage(images);
		});
	$('<li/>').append(presentImage).append().appendTo($('#photos'));
};
function selectImage(images) {
	var urls = {};
	for (var thumb in images) {
		urls[thumb] = images[thumb].url; 
	}
	$('#infoImage').val($.toJSON(urls));
	$('#infoImageContainer').html('<img src="' + images.small.url + '" />');	
};	
$(document).ready(function() {
	<?php if($this->info->slug == 'meet-our-team') :?>
		jQuery('#content_parent').remove()
	<?php endif ?>
	$('#infoTabs').tabs();
	$('#editInfoForm').validate({
		rules: {
			name: {
				required: true
			},
			slug: {
				required: true
			},
		},
		messages: {
			name: "Please enter info name",
			slug: "Please enter info slug",
		}
	});
	$('#updateButton').bind('click', function() {
		var saveImages = new Array();
		if(getIds() != '') {
			var ids = getIds().split(";");
			if (imagesData.length > 0) {
				for(j=0;j<imagesData.length;j++){
					var del = 0;
					for(i=0;i<ids.length;i++){
						if(j == ids[i]){
							del = 1;
							break;
						}
					}
					if(del == 0){
						saveImages[saveImages.length] = imagesData[j];
					}
				}
				$('#images_data').attr('value', $.toJSON(saveImages));
			}
		}
		else{
			if (imagesData.length > 0) {
				$('#images_data').attr('value', $.toJSON(imagesData));
			}
		}
		$('#editInfoForm').submit();
	});
	
	function getIds(){
		var ids= '';
		var checkBoxName = 'cids';
		var checkBoxes = $("input[name=" + checkBoxName + "]");

	    $.each(checkBoxes, function() {
	        if ($(this).attr('checked')){
	        	ids = ids+";"+ $(this).val();
	        }
	    });
	    return ids.substring(1);
	}	
	
	for (var i=0; i < imagesData.length; i++) {
		var presentImage = $('<img/>');
		$(presentImage).attr('src',  imagesData[i].small.url)
			.attr('style', 'cursor: pointer')
			.attr('alt', imagesData[i])
			.attr('onClick', 'javascript:selectImage('+$.toJSON(imagesData[i])+')'
		);
		$('<li/>').append("<input type='checkbox' name='cids' value='"+i+"'/> Del").append(presentImage).append().appendTo($('#photos'));
	}
});
</script>
