<?php
	$this->headTitle($this->translator('Info'));
?>
<?php if(isset($this->info)):?>
	<section id="info" class="info section page-main">
		<div class="container-fluid">
			<article>
				<div class="nav-info hidden-xs hidden-sm">
					<ul class="nav-info-menu">
						<li><a href="/join-our-family.html">Join Our Family</a></li>
						<li><a href="/meet-our-team.html">Meet Our Team</a></li>
						<li class="hidden-lg hidden-md"><a href="/contact.html">Contact</a></li>
					</ul>
					<div class="nav-info-body">
						<?php echo $this->info->content;?>
					</div>
				</div>
				<?php if($this->info->image_banner !=""):?>
					<img src="<?php echo $this->info->image_banner;?>" alt="" class="img-bg" />
				<?php else:?>
					<img src="/skins/default/images/bg-3.jpg" alt="" class="img-bg"/>
				<?php endif;?>
				<div class="caption text-center">
					<h1><?php echo $this->info->name;?>.</h1>
					<p class="intro"><?php echo $this->info->description;?></p>
				</div>
			</article>
		</div>
	</section>
<?php endif;?>