<?php
	$this->headTitle($this->translator('Join Our Family'));
?>
<?php if(isset($this->info)):?>
	<section id="join-our-family" class="section page-main">
		<div class="container">
			<div class="content">
				<?php echo $this->info->content;?>
			</div>
			</article>
		</div>
	</section>
<?php endif;?>