﻿<?php 
$this->headTitle($this->translator('info_list'));
?>
<div class="grid_12 t_a_ui_breadcrumb">
	<span><a href="<?php echo $this->url(array(), 'core_dashboard_index'); ?>"><?php echo $this->translator('menu_admin', 'core'); ?></a></span>
	<span><?php echo $this->translator('info_list'); ?></span>
</div>
<div class="grid_12 t_a_bottom">
	<div class="grid_10 alpha"><?php echo $this->translator('info_list_guide'); ?></div>
	<div class="grid_2 omega t_a_textright"><a href="<?php echo $this->url(array(), 'info_admin_info_add'); ?>" class="t_a_link"><?php echo $this->translator('info_add'); ?></a></div>
</div>
<form method="post" action="/admin/info/info/list/">
<div class="grid_12">
	<div class="t_a_line t_a_bottom">
		<h2><?= $this->translator('info_list_search'); ?></h2>
	</div>
	<div class="grid_5 alpha">
		<div class="clearfix t_a_bottom">
			<div class="grid_1 alpha"><?= $this->translator('info_list_search_keyword'); ?>:</div>
			<div class="grid_3 omega"><input type="text" style="width: 220px" name="keyword" value="<?php if (isset($this->exp['keyword'])) : ?><?= $this->exp['keyword']; ?><?php endif; ?>" /></div>
		</div>
	</div>
	<div class="grid_5 omega">
		<div class="clearfix t_a_bottom">
			<div class="grid_1 alpha"><?= $this->translator('info_list_search_status'); ?>:</div>
			<div class="grid_3 omega">
				<select name="status" style="width: 220px">
					<option value=""<?php if (!isset($this->exp['status'])) : ?> selected="selected"<?php endif; ?>>---</option>
					<option value="active"<?php if (isset($this->exp['status']) && $this->exp['status'] == 'active') : ?> selected="selected"<?php endif; ?>><?= $this->translator('info_list_status_activated'); ?></option>
					<option value="inactive"<?php if (isset($this->exp['status']) && $this->exp['status'] == 'inactive') : ?> selected="selected"<?php endif; ?>><?= $this->translator('info_list_status_not_activated'); ?></option>
				</select>
			</div>
		</div>
	</div>
</div>
<hr/>
<div class="grid_12 t_a_bottom">
	<div class="prefix_1 alpha">
		<input type="submit" class="button" value="Search" />
	</div>
</div>
</form>
<?php if ($this->numItems == 0) : ?>
	<div class="grid_12 t_a_bottom"><?php echo $this->translator('info_list_not_found'); ?></div>	
<?php else : ?>

	<div class="grid_12 t_a_bottom t_a_ui_data_list_header" style="height: 30px">
		<div class="grid_3 alpha">
			<?= $this->translator('info_name'); ?>
		</div>
		<div class="grid_3 ">
			<?= $this->translator('info_slug'); ?>
		</div>
		<div class="grid_3 ">
			<?= $this->translator('info_description'); ?>
		</div>
		<div class="grid_3 omega">
			<?= $this->translator('info_status'); ?>
		</div>
	</div>
<?php foreach ($this->infos as $info) : ?>
<div id="infoRow_<?= $info->info_id; ?>" class="grid_12 clearfix t_a_ui_data_list_content">
	<div class="grid_3 alpha">
		<?= $info->name; ?>&nbsp;
			<div class="t_a_top t_a_ui_helper_action">
			<?php if ($this->allow('edit')) : ?>
				<a href="/admin/info/info/edit/<?= $info->info_id; ?>/"><?= $this->translator('list_action_edit','core'); ?></a> |
			<?php endif; ?>
			<?php if ($this->allow('delete')) : ?>
				<a class=" DeleteAction" rel="<?php echo $info->info_id; ?>" href="javascript: void(0)"><?= $this->translator('list_action_delete','core'); ?></a> |
			<?php endif; ?>
			<?php if ($this->allow('active')) : ?>
				<a class="ActiveAction" rel="<?php echo $info->info_id; ?>_<?php echo $info->status; ?>" href="javascript: void(0);"><?php if ($info->status == 'active') : ?><?php echo $this->translator('list_action_deactivate'); ?><?php else : ?><?php echo $this->translator('list_action_activate'); ?><?php endif; ?></a>
			<?php endif; ?>
			</div>
	</div>
	<div class="grid_3 ">
		<?= $info->slug; ?>&nbsp;
	</div>
	<div class="grid_3 ">
		<?= $info->description; ?>&nbsp;
	</div>
	<div class="grid_3 omega">
		<?= $info->status; ?>&nbsp;
	</div>
	
</div>
<?php endforeach; ?>

<div class="grid_12 t_a_bottom t_a_paginator">
	<?php echo $this->paginator()->slide($this->paginator, $this->paginatorOptions); ?>
</div>
<?php endif; ?>

<div id="tDialogContainer"></div>
<script type="text/javascript">
$(document).ready(function() {
	<?php if ($this->allow('delete')) : ?>
	$('a.DeleteAction').click(function() {
		if (confirm('<?= $this->escape($this->translator('info_list_action_delete_confirm')); ?>')) {
			$(this).html('').addClass('t_a_loading');
			var id = $(this).attr('rel');
			$.ajaxq('info_info', {
				type: 'POST',
				url: '/admin/info/info/delete/',
				data: { id: id },
				success: function(response) {
					$('#infoRow_' + id).fadeOut('slow');
				}
			});
		}
	});
	<?php endif; ?>
	<?php if ($this->allow('active')) : ?>
	$('a.ActiveAction').click(function() {
		var arr = $(this).attr('rel').split('_');
		var status = arr[1];
		var id = arr[0];
		$.ajaxq('visa_review', {
			type: 'POST',
			url: '/admin/info/info/active/',
			data: { id: id, status: status },
			success: function(response) {
				location.href='/admin/info/info/list/';
			}
		});
	});
	<?php endif; ?>
});
</script>
