<?php 
/**
 * TomatoCMS
 * 
 * LICENSE
 *
 * This source file is subject to the GNU GENERAL PUBLIC LICENSE Version 2 
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-2.0.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@tomatocms.com so we can send you a copy immediately.
 * 
 * @copyright	Copyright (c) 2009-2010 TIG Corporation (http://www.tig.vn)
 * @license		http://www.gnu.org/licenses/gpl-2.0.txt GNU GENERAL PUBLIC LICENSE Version 2
 * @version 	$Id: config.phtml 3381 2010-07-02 03:25:08Z huuphuoc $
 * @since 		2.0.2
 */
?>
<?php echo $this->translator()->widget('config_select_menu'); ?>
<br />
<select class="t_widget_input" name="menu_id">
	<option value="0">---</option>
	<?php if ($this->menus != null) : ?>
	<?php foreach ($this->menus as $menu) : ?>
	<option value="<?php echo $menu->menu_id; ?>"><?php echo $menu->name; ?></option>
	<?php endforeach; ?>
	<?php endif; ?>
</select>
<hr />
