/*------------------------------------------------------------------------
# Name Template
--------------------------------------------------------------------------

    1.  Reset
    2.  Mixin
    3.  Setting
    4.  Header
    5.  Banner

--------------------------------------------------------------------------------*/
/* 1.   Reset
--------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  zoom: 1;
  background: transparent; }
a {
  color: #333; }
a:hover {
  color: #fff;
  text-shadow: none
}
a, input, textarea, button, select {
  outline: none; }

a:hover, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus, button:focus, select:focus {
  outline: none !important;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 2.   Mixin
--------------------------------------------------------------------------------*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  note: All CSS3 Properties are being supported by Safari 5
  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)
------------------------------------------------------------- */
/* 3.   Setting
--------------------------------------------------------------------------------*/
body {
  background-color: #1d1d1d;
  font: 14px 'FuturaStd Medium', Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  text-align: left;
  direction: ltr;
  unicode-bidi: embed; }

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0; }

.img {
  width: 100%;
  height: 100%; }

em, i {
  font-style: italic; }

b, strong, th, dt, .text-bold {
  font-weight: bold; }

.text-normal {
  font-weight: normal; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

ul li {
  margin-bottom: 10px; }
  ul li:last-child {
    margin-bottom: 0; }

.btn {
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.container {
  position: relative;
  z-index: 3; }

.underline {
  border-bottom: 1px solid; }

#page-wrap {
  position: relative;
  overflow: hidden; }

.bg-default {
  background-color: #fff; }

section {
  position: relative;
  z-index: 1; }

/* 3.   Preloader
--------------------------------------------------------------------------------*/
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  text-align: center;
  z-index: 999999999; }

#preloader img {
  position: fixed;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99; }

/* 4.   Header
--------------------------------------------------------------------------------*/
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}
#masthead {
    position: fixed;
    display: block;
    margin: 0;
    z-index: 9900;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 143px
}

#masthead.scrolled,
#masthead:hover {
    background-color: rgba(29, 29, 29, 0.9)
}

#identity {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    opacity: 1
}

#identity a {
    font-weight: bold;
    background: url('../images/logo.png') no-repeat center center;
    text-align: center;
    width: 139px;
    height: 139px;
    margin-top: 8px;
    position: relative;
    text-decoration: none;
    border: none;
    display: block;
    margin-left: 30px;
    opacity: 1
}

#identity img {
    margin: 0 !important;
    padding: 0;
    border: none;
    max-width: 100%
}

#identity span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}

#masthead-nav {
    margin: 0;
    padding: 0;
    display: block;
    position: relative
}

.cycle-slideshow img {
    width: 100%;
    height: auto
}

.menu-primary-container {
    clear: both;
    display: block;
    position: relative;
    margin-top: 40px
}

.primary-nav,
.secondary-nav {
    display: block;
    height: auto;
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    clear: both
}

.primary-nav {
    clear: both;
    display: block;
    position: relative
}

.primary-nav a {
    letter-spacing: 0;
    font-family: "FuturaStd Heavy"
}

.primary-nav ul,
.secondary-nav ul {
    line-height: 15px;
    display: inline-block;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    float: none;
    width: 100%
}

.primary-nav span span,
.secondary-nav span span {
    color: #fff !important;
    display: inline-block;
    padding: 0 5px
}

.primary-nav li,
.secondary-nav li {
    position: relative;
    font-size: 16px;
    height: auto;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    float: left
}

.primary-nav a,
.secondary-nav a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.54);
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.primary-nav li:hover>a,
.primary-nav a:focus,
.primary-nav a:hover {
    color: #fff
}

.primary-nav ul li:hover>ul {
    display: block;
    margin-bottom: 0
}

.primary-nav .current_page_item>a,
.primary-nav .current_page_ancestor>a,
.primary-nav .current_page_parent>a {
    color: #fff
}

.primary-nav .current_page_item a span span,
.primary-nav a:hover span span,
.current-menu-item,
.current-menu-item a {
    color: #e67e22
}

.utility-nav {
    margin-bottom: 0;
    display: block;
    line-height: 30px;
    right: 30px;
    float: right;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 100
}

.utility-nav li {
    margin: 0;
    padding: 0;
    line-height: 30px;
    float: left;
    display: inline-block;
    width: auto
}

.utility-nav li a {
    font-size: 12px;
    line-height: 30px;
    background-color: rgba(16, 16, 16, 0.4);
    padding-right: 9px;
    padding-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: auto;
    color: rgba(255, 255, 255, 0.49)
}

.utility-nav li a:hover {
    line-height: 30px;
    background-color: #fff;
    color: #101010
}

.filter-nav {
    position: relative;
    text-align: right;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: block;
    padding-top: 5px;
    padding-bottom: 5px
}

.filter-nav ul {
    height: auto;
    display: block;
    position: relative;
    width: 100%
}

.filter-nav li {
    margin-right: 5px;
    display: inline-block;
    position: relative;
    float: none;
    margin-bottom: 2px;
    white-space: nowrap
}

.filter-nav li a {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-align: center;
    font: italic 14px/1em 'FuturaStd BookOblique';
    text-transform: capitalize !important;
    position: relative;
    white-space: nowrap !important
}

.filter-nav li a:hover,
.filter-nav li a.active,
.filter-nav .current-menu-item a {
    color: #e67e22;
    font-weight: bold;
    text-shadow: none
}

#nav-toggle {
    padding: 5px 10px;
    text-align: center;
    font-family: "FuturaStd Heavy", Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    display: none;
    background-color: #afb0b0
}

#nav-toggle a {
    color: #acaeae
}

.skip-link {
    width: 100%;
    padding: 0;
    display: block;
    z-index: 1
}

.menu-toggle {
    display: none
}

.mobile-nav {
    display: none;
    opacity: 0;
    overflow: hidden;
}

@media (max-width: 1024px) {
    #masthead button {
        margin: 0;
        padding: 0
    }
    .menu-toggle {
        cursor: pointer;
        display: block;
        background-color: #000;
        color: #fff;
        vertical-align: middle;
        padding: 0px !important;
        position: absolute;
        border-style: none;
        height: 40px !important;
        width: 40px !important;
        top: 0;
        left: 0;
        z-index: 9000;
        float: left;
        clear: none;
    }
    .menu-toggle:hover {
        background-color: #fff;
        color: #111
    }
    .menu-toggle:after {
        font: 14px/40px 'Genericons';
        content: '\f419';
        vertical-align: middle;
        width: 40px
    }
    .primary-nav,
    .menu-primary-container {
        margin-top: 0;
        padding-top: 0;
        width: 100%;
        display: block
    }
    .toggled-on .primary-nav,
    .toggled-on .primary-nav>ul {
        display: block;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%
    }
    .toggled-on li,
    .toggled-on .children,
    .toggled-on .primary-nav li {
        display: block
    }
    .toggled-on .primary-nav li {
        background-color: #1d1d1d;
        border-bottom: 1px solid rgba(255, 255, 255, 0.14)
    }
    .alpha-toggle,
    .alpha-sortable {
        display: none;
        opacity: 0;
        height: 0
    }
    .about .entry-content h1 {
        font-size: 16px;
        line-height: 1.5em;
        text-transform: uppercase
    }
    .toggled-on .primary-nav li>ul {
        display: block;
        float: none;
        margin-left: 20px;
        position: relative;
        left: auto;
        top: auto;
        margin-bottom: 1px
    }
    .toggled-on .primary-nav li a,
    .toggled-on .primary-nav li>ul a {
        color: #fff;
        width: auto;
        display: block;
        text-decoration: none;
        line-height: 60px;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px
    }
    .toggled-on .primary-nav li:hover>a,
    .toggled-on .primary-nav .children a {
        background-color: #fff;
        color: #1d1d1d
    }
    .primary-nav,
    div.primary-nav>ul {
        display: none
    }
    .mobile-nav {
        text-align: center;
        display: block;
        position: relative;
        border-style: none;
        margin-top: -10px;
        opacity: 1
    }
    .mobile-nav li {
        display: inline-block;
        float: none;
        border-style: none
    }
    .mobile-nav li a {
        font-size: 12px;
        color: #fff;
        opacity: 0.5;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        padding-right: 5px;
        padding-left: 5px;
        text-decoration: none;
        text-align: center;
        font: italic 14px/20px Georgia, "Times New Roman", Times, serif;
        text-transform: capitalize !important;
        position: relative;
        white-space: nowrap
    }
    .mobile-nav li a:hover {
        opacity: 1
    }
}
/* 4.   Banner
--------------------------------------------------------------------------------*/

#banner {
  overflow: hidden; }

.banner-slider .flex-viewport li {
  position: relative; }
  .banner-slider .flex-viewport li img {
    max-width: none;
    width: auto; }
  .banner-slider .flex-viewport li .item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .banner-slider .flex-viewport li a {
    display: block;
    position: relative; }
.banner-slider .flex-control-nav {
  position: absolute;
  left: 0;
  bottom: 32px;
  width: 100%;
  text-align: center;
  z-index: 9; }
  .banner-slider .flex-control-nav li {
    display: inline-block;
    margin: 10px 15px; }
    .banner-slider .flex-control-nav li a {
      display: inline-block;
      width: 17px;
      height: 17px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #fff;
      opacity: .3;
      font-size: 0;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.7); }
    .banner-slider .flex-control-nav li .flex-active {
      opacity: 1; }
#banner .caption {
  font-family: "FuturaStd Heavy";
  position: fixed;
  left: 30px;
  bottom: 60px;
  display: inline-block;
  padding: 12px 18px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer; }
  .banner-slider .caption span {
    display: inline-block;
    color: white; }

/* 5.   Navigation
--------------------------------------------------------------------------------*/
.sticky-wrapper {
  height: 0 !important; }

.sticky-wrapper.header-sticky {
  height: auto !important; }

.sticky-wrapper.header-sticky .navigation {
  margin-top: 0; }

.sticky-wrapper.header-sticky .navigation-inner {
  height: 60px;
  padding: 15px 0; }

.logo-nav {
  display: inline-block; }
  .logo-nav img {
    max-height: 30px; }

.navigation-inner {
  height: 79px;
  padding: 24px 0;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.navigation .icon-menu {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 15px;
  cursor: pointer;
  width: 28px;
  height: 24px;
  z-index: 999; }

.navigation .icon-menu span {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 28px;
  height: 6px;
  background-color: #fff;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s; }

.navigation .icon-menu span:before,
.navigation .icon-menu span:after {
  content: '';
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s; }

.navigation .icon-menu span:before {
  top: -9px; }

.navigation .icon-menu span:after {
  bottom: -9px; }

.navigation .icon-menu-toggle span {
  background: none; }

.navigation .icon-menu-toggle span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.navigation .icon-menu-toggle span:after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; }
  .navigation .nav {
    position: absolute;
    top: 50%;
    right: 65px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0; }
    .navigation .nav .fa-social a {
      font-size: 18px; }
    .navigation .nav > li {
      display: inline-block;
      padding: 0 20px;
      margin: 0; }
      .navigation .nav > li > a {
        display: inline-block;
        font-size: 18px;
        color: #fff;
        background: none;
        padding: 0;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .navigation .nav > li > a .caret {
          position: relative;
          margin-left: 7px;
          margin-top: -2px;
          -webkit-transition: all 0.3s;
          -khtml-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          .navigation .nav > li > a .caret:before {
            content: '';
            display: block;
            position: absolute;
            width: 14px;
            height: 14px;
            border: 1px solid #fff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            top: -9px;
            left: -7px; }
          .navigation .nav > li > a .caret.up {
            -webkit-transform: rotate(-180deg);
            -khtml-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg); }
      .navigation .nav > li.active a, .navigation .nav > li a:hover {
        color: #e67e22; }
        .navigation .nav > li.active a .caret:before, .navigation .nav > li a:hover .caret:before {
          border-color: #e67e22; }
      .navigation .nav > li:hover .sub-menu {
        opacity: 1;
        visibility: visible; }

.sub-menu {
  position: absolute;
  top: 46px;
  left: 0;
  background-color: #000;
  padding: 15px 20px;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .sub-menu:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    bottom: 100%;
    left: 34px;
    margin-left: -10px; }
  .sub-menu > li {
    text-align: left;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; }
    .sub-menu > li > a {
      display: block;
      font-size: 14px;
      padding: 5px 0;
      overflow: hidden;
      width: 150px;
      color: #d3d3d3;
      text-transform: capitalize; }

/* 5.   Work
--------------------------------------------------------------------------------*/
.work .container-fluid {
  padding-left: 0;
  padding-right: 0; }

#work {
  padding-bottom: 35px; }

#work figure a.fancybox-video {
  display: table-cell;
  height:154px;
  text-align:center;
  vertical-align:middle;
}

#work figure a.fancybox-video .circle {
  display:inline-block;
  border:3px solid white;
  border-radius:25px;
  padding:20px;
  height:10px;
  width:10px;
}
#work figure a.fancybox-video .circle .triangle {
  display:inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  transform: translate(-25%, -50%);
}

#work, #services, #join-our-family, #contact, #sorry { margin-top: 145px; }

#info {padding-top: 15px;}

#info ul li, #contact ul li {list-style-type: none;}

.filter-section .filter-container .filter > li {
  padding: 0;
  margin: 0; }

.filter-section h1 {
  text-align: center; }

.portfolio-section {
  padding-right: 10px;
  margin-left: -3px; }

.portfolio-section figure {
  float: left;
  width: 100%;
  position: relative; }

.portfolio-section figure img {
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -o-transition: all .5s ease; /* IE 9 */
  -ms-transition: all .5s ease; /* Opera */
  transition: all .5s ease; }

.portfolio-section figure:hover img {
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1); }

.isotopeContainer .row {
  margin-left: -3px;
  margin-right: -3px; }
.isotopeContainer div[class^=col] {
  padding-left: 3px;
  padding-right: 3px; 
  margin-bottom: 6px; }

.isotopeSelector img {
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all 0.4s ease; }

.isotopeSelector figure {
  overflow: hidden; }

.isotopeSelector figure {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

/* 6.   Home
--------------------------------------------------------------------------------*/
.ser-item {
  padding: 50px 0;
  border-bottom: 1px solid #ddd; }
.ser-item:first-child {
  padding:0; }
.ser-item:last-child {
  border-bottom: none; }  

.ser-header {
  margin-bottom: 20px; }
  .ser-header .item-label {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase; }
  .ser-header .page-title {
    font-family: "FuturaStd Heavy";
    font-size: 28px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px; }

.inline-content {
  font-size: 20px;
  margin-bottom: 20px; }

.ser-body {
  line-height: 24px;
  color: #666; }
  .ser-body img {
    width: 100%; }
  .ser-body p {
    margin-bottom: 20px; }
    .ser-body p:last-child {
      margin-bottom: 0; }

/* 7.   Info
--------------------------------------------------------------------------------*/

/*==============================
 Tour the studio
 ==============================*/
.tour {
  padding-top: 15px;
  padding-bottom: 44px; }
  .tour .row {
    margin-left: -8px;
    margin-right: -8px; }
  .tour .row#tour_banner {
    padding-bottom: 20px; }
  .tour div[class^=col-sm] {
    padding-left: 3px;
    padding-right: 3px; }
  .tour .item {
    margin-bottom: 6px; }
  .tour figure {
    position: relative; }
    .tour figure img {
      width: 100%; }
  .tour figcaption {
    position: absolute;
    top: 55%;
    right: 5%;
    background: rgba(255, 255, 255, 0.5);
    width: 350px;
    padding: 10px;
    line-height: 24px;
    font-size: 14px; }
    .tour figcaption span {
      font-size: 20px; }

/*==============================
 Join Our Family
 ==============================*/
#join-our-family .content {
  color: rgb(102,102,102);
  }

/*==============================
 Info
 ==============================*/
.img-bg {
  width: 100%; }

.info {
  padding-bottom: 50px; }
  .info article {
    position: relative; }
  .info .caption {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .info .caption h1 {
      font-size: 60px;
      color: #7C1418;
      margin-bottom: 15px;
      font-weight: 500; }
    .info .caption .intro {
      font-size: 18px;
      line-height: 24px;
      color: #4e4e56; }

.nav-info {
  position: absolute;
  right: 30px;
  top: 200px; }

.nav-info-body {
  line-height: 18px;
  font-size: 12px;
  color: #333;
  margin-top: 12px; }
  .nav-info-body .item {
    font-size: 14px;
    padding: 12px 0;
    border-top: 1px solid #7c1418; }
  .nav-info-body .item:first-child {
    border-top: none; }
  
.article {
  padding: 50px 0;
  line-height: 24px; }
  .article .article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; }
  .article p {
    margin-bottom: 15px; }

/*==============================
 Contact
 ==============================*/
#contact {color: rgb(102,102,102);  padding-bottom: 40px;}
  #contact p.message {
    display: none;
    padding: 5px 10px;
    margin-top: 10px;
    border: 2px solid #398f14; }
  #contact #loading-image {
    display: none;
    max-width: 20px;
    margin: 10px 0 0 13px;}
  input[type="text"], textarea, input[type="email"], input[type="tel"] {
    width: 100%;
    background: #f6f6f6;
    }
  #frmContact input[type="text"], #frmContact textarea, #frmContact input[type="email"], #frmContact input[type="tel"] {
    padding: 20px;
    font-size: 16px;
    border-radius: 0;
  }
  #frmContact input[type="submit"] {
    border-radius: 0;
    padding: 16px;
    border: none; }

  #frmContact input[type="submit"]:hover {
      background-color: #e67e22;
      border: none;
  }

#map {
  margin-bottom: 30px;
}

.map-frame {
    width: 100%;
    height: 440px;
    position: relative;
}
.company-info .intro_text {margin-top: 15px;}
.company-info a {color: #888;}

/*==============================
 404
 ==============================*/
.sorry-inner {
  padding: 50px 0;
  color: #888;
  line-height: 24px; }
  .sorry-inner a.contact-email {
    text-decoration: underline;
    color: #888; }
  .sorry-inner h1 {
    font-size: 28px; }
  .sorry-inner p, .sorry-inner h1 {
    margin-bottom: 18px; }

/* 8.   Footer
--------------------------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  color: #777;
  background-color: #0C0C0C;
  border-top: 1px solid rgba(255, 255, 255, 0.15);  }

.footer .row div {
    margin-bottom: 10px; }

.footer span {
  display: block;
  margin-bottom: 0; }

.footer span a {
  color: #888; }

.footer span a.text-orange, .text-orange {
  color: #e67e22;  
}

/* 11.   Responsive
--------------------------------------------------------------------------------*/
@media screen and (min-width: 1281px) {
  #work {
  min-height: 668px; }

  #work figure a.fancybox-video {
    width: 469px;
    height: 234px; }

  #masthead .inner {
      padding: 30px !important; }
}

@media (min-width: 768px) and (max-width: 1280px) {
  #work {
  min-height: 388px; }

  #work figure a.fancybox-video {
    width: 306.5px; }

  .info .caption {
    width: 30%; }
}

@media (min-width: 320px) and (max-width: 767px) {
  #work {
  min-height: 240px; }

  #work figure a.fancybox-video {
    width: 408px; }
}

@media only screen and (max-width: 1199px) {

  .info .caption {
    width: 100%; }
  .team-detail .caption {
    max-width: 350px;
    right: 20px; }

  .portfolio-section {
    padding-right: 0;
    margin-left: 0; }

  .secondary-nav {
    top: -20px; }  

  #work, #services, #join-our-family, #contact, #sorry { margin-top: 125px; }  
}

@media only screen and (max-width: 991px) {
  .navigation-inner {
    padding: 10px 0 !important;
    height: auto !important; }

  .navigation .nav,
  .navigation .nav.nav-fly {
    position: fixed;
    padding: 80px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    overflow: scroll;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  .navigation .nav.nav-fly {
    opacity: 1;
    visibility: visible; }

  .navigation .nav {
    opacity: 0;
    visibility: hidden; }

  .navigation .nav > li,
  .navigation .nav.nav-fly > li {
    display: block; }

  .navigation .nav > li > a,
  .navigation .nav.nav-fly > li > a {
    line-height: 50px; }

  .navigation .nav > li > a .caret {
    margin-left: 15px; }

  .navigation .nav > li > a .caret:before {
    width: 19px;
    height: 19px;
    top: -12px;
    left: -9px; }

  .logo-nav {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }

  .navigation .icon-menu {
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }

  .sub-menu {
    opacity: 1;
    visibility: visible;
    position: static;
    background-color: transparent;
    padding: 0;
    display: none; }
    .sub-menu:before {
      display: none !important; }
    .sub-menu > li {
      text-align: center; }
      .sub-menu > li > a {
        width: 100%;
        padding: 8px 0; }

  .page-main {
    padding-top: 20px; }

  .team-box {
    padding: 80px 0 0; }

  .work-item .caption {
    opacity: 1;
    visibility: visible;
    bottom: 0; }

  .tour figcaption {
    bottom: 0;
    right: 0;
    top: unset;
    left: unset;
    width: 100%; }

  .work {
    padding-top: 50px; }

  #join-our-family, #contact, #tour, #info {margin-top: 155px;}
}
    
@media screen and (max-width: 900px) {
  #filters {
    position: static;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  .container-filter {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    margin-top: 69px; }

  #filters {
    margin-bottom: 20px; }

  .work-item {
    padding: 0 15px; }

  #teamModal .modal-caption {
    position: static; }
}

@media only screen and (max-width: 767px) {
  #filters ul li {
    margin: 10px; }
    #filters ul li a {
      font-size: 13px;
      min-width: 100px;
      line-height: 36px; }

  .ser-header .page-title {
    font-size: 24px; }

  .company-info {margin-top: 15px;}

  .info .caption {
    top: 50%; }
}

@media only screen and (max-width: 500px) {
  .col-ms-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
}

@media only screen and (max-width: 375px) {
  .info .caption h1 {
    font-size: 50px;
    margin-bottom: 5px; }
}

@font-face {
  font-family: 'FuturaStd Heavy';
  src: url('../fonts/FuturaStd-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaStd BookOblique';
  src: url('../fonts/FuturaStd-BookOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaStd Medium';
  src: url('../fonts/FuturaStd-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }