<?php
	$this->headTitle($this->translator('Work'));
?>
<section id="work" class="work section page-main">
	<div class="container-fluid">
		<section class="portfolio-section port-col">
			<div class="isotopeContainer">
				<?php if(count($this->works)>0):?>
					<?php foreach ($this->works as $work):?>
						<div class="col-md-3 col-sm-4 col-xs-6 col-ms-12 isotopeSelector <?php echo $work->type; ?>">
						<?php if($work->type == 'animation'): ?>
						<?php
							// $hash = unserialize(file_get_contents('http://vimeo.com/api/v2/video/' . $work->vimeoId . '.php'));
							// $imgSrc = $hash[0]['thumbnail_large'];
							?>
                            <figure class="video" style="background:url('<?php echo $work->thumb_video; ?>') no-repeat;">
							    <a class="fancybox-video" href="https://vimeo.com/<?php echo $work->vimeoId; ?>">
							        <span class="circle">
							            <span class="triangle"></span>
							        </span>
							    </a>
	                    	<?php else : ?>
	                    	<figure>
                                <a title="- <?php echo $work->name;?> -" class="fancybox-pop" rel="<?php echo $work->description;?>" href="<?php echo $work->image_medium; ?>">
										<img src="<?php echo $work->image_medium;?>" alt="<?php echo $work->name;?>">
                                </a>
                                <?php endif ?>
                            </figure>
                        </div>
					<?php endforeach;?>
				<?php endif;?>
			</div>
		</section>
	</div>
</section>