<?php 
$this->headTitle(sprintf($this->translator('tag_list_by_tag'), $this->tag->tag_text));
?>

<div class="t_news_tag">
    <h1><?php echo sprintf($this->translator('tag_list_by_tag'), $this->tag->tag_text); ?></h1>
    
    <ul>
	<?php foreach ($this->articles as $index => $article) : ?>
		<li>
			<h2>
				<a href="<?php echo $this->url($article->getProperties(), 'news_article_details'); ?>"><?php echo $article->title; ?></a>
				<?php echo $this->articleIcons($article->icons); ?>
				<cite><?php echo date($this->globalConfig('web')->datetime->format->datetime, strtotime($article->activate_date)); ?></cite>
			</h2>
			
			<?php if ($article->image_small) : ?>
			<div class="image">
				<a href="<?php echo $this->url($article->getProperties(), 'news_article_details'); ?>">
					<img src="<?php echo $article->image_small; ?>" />
				</a>
			</div>
			<?php endif; ?>
			
			<div class="description"><?php echo $article->description; ?></div>
			<div class="clearfix"></div>
		</li>
	<?php endforeach; ?>
	</ul>
	
	<div class="paginator">
		<?php echo $this->paginator()->slide($this->paginator, $this->paginatorOptions); ?>
	</div>
</div>
