<?php 
/**
 * TomatoCMS
 * 
 * LICENSE
 *
 * This source file is subject to the GNU GENERAL PUBLIC LICENSE Version 2 
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-2.0.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@tomatocms.com so we can send you a copy immediately.
 * 
 * @copyright	Copyright (c) 2009-2010 TIG Corporation (http://www.tig.vn)
 * @license		http://www.gnu.org/licenses/gpl-2.0.txt GNU GENERAL PUBLIC LICENSE Version 2
 * @version 	$Id: config.phtml 3971 2010-07-25 10:26:42Z huuphuoc $
 * @since		2.0.0
 */
?>
<?php echo $this->translator()->widget('config_enter_content'); ?>
<br />
<textarea class="t_widget_input" name="content" style="width: 99%; height: 100px"><?php if ($this->content != null) : ?><?php echo $this->content; ?><?php endif; ?></textarea>
<hr />

<?php echo $this->translator()->widget('config_enter_file_path'); ?>
<br />
<input type="text" name="file" class="t_widget_input" style="width: 250px" />
<br />
<?php echo $this->translator()->widget('config_file_note'); ?>
<hr />
