<header id="header" class="header">
	<div id="banner">
		<div class="banner-slider">
			<ul class="slides">
				<?php if(count($this->galleries)>0):?>
					<?php foreach ($this->galleries as $gallery):?>
						<?php if($gallery->image_banner !=""):?>
							<li title="<?php echo $gallery->name;?>">
								<a>
									<img src="<?php echo $gallery->image_banner;?>" alt="">
								</a>
							</li>
						<?php endif;?>
					<?php endforeach;?>
				<?php endif;?>
			</ul>
		</div>
		<label class="caption"><?php echo $this->galleries[0]->name;?></label>
	</div>
</header>